<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Programação</ion-title>
</ion-navbar>

<ion-content>
  <ion-list *ngFor="#schedule of schedules" no-border>
    <ion-list-header>
      {{schedule.start_at}}
    </ion-list-header>

    <ion-item *ngFor="#talk of schedule.talks">
      {{talk.title}} <br>
      {{talk.start_at | date:'HH:mm'}} - {{talk.end_at | date:'HH:mm'}} <br>
      <ion-note>
        To the moon
      </ion-note>
    </ion-item>

  </ion-list>
</ion-content>
